* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  background-color: springgreen;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}
nav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
}
nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Cards style / Erika */
section {
  margin: 5rem 2rem;
}

.cards-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2rem;
  margin-inline: 1rem;
  /* max-width: 1024px; */
}

.card {
  border: 2px solid darkgrey;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  flex-basis: 200px;
  padding-bottom: 1rem;
}
